/**
  * Default styling for print media
  */

@media print {
  @page {
    size: auto;
    margin: 0; /* hide browser injected header/footer */
  }

  :root {
    font-size: 12px;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  header,
  footer {
    display: none !important;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  h3,
  thead td {
    font-size: 1rem;
    font-weight: 600;
  }
}
