:root {
  --background-color: #f9f9f9;
  --text-color: #000;
  --border-color: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #555;
  }
}

.flex {
  display: flex;
  gap: 16px;
}
.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--background-color);
  padding: 16px;
  border-radius: 8px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;

  & tr th {
    padding-top: 16px;
  }

  & th {
    background-color: var(--background-color);
    font-weight: 800;
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
  }
}
