.flex {
  display: flex;
  gap: 16px;
}
.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;

  & tr td {
    padding-top: 16px;
  }

  & th {
    background-color: #f9f9f9;
    font-weight: 800;
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
  }
}
